{% extends "base.html.twig" %}

{% block body %}
<main class="container-fluid">

    <h1 class="text-center mb-4 fw-semibold text-decoration-underline fs-2">Liste des employés</h1>

    {# Boites de message pour l'ajout, et la suppression d'employés #}
    {% for message in app.flashes("message_ajout") %}
        <div class="container alert alert-success text-center">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes("efface_bon") %}
        <div class="container alert alert-success text-center">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes("efface_err") %}
        <div class="container alert alert-danger text-center">{{ message }}</div>
    {% endfor %}

    <section class="my-5">
        <table class="table table-sm table-hover table-striped-columns">

            {# En-tête du tableau #}
            <thead>
                <tr class="table-primary text-center align-middle">
                    <th scope="col">#</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Poste</th>
                    <th scope="col">Salaire</th>
                    <th scope="col">Date de Naissance</th>
                    <th scope="col">Option</th>
                </tr>
            </thead>

            {# Corps du tableau #}
            <tbody>
            {% for employe in employes %}
            {% if id is defined and employe.id == id %}

                {# Changement de style pour la ligne en cours de modification avec option d'annulation #}
                <tr class="text-center align-middle bg-success bg-gradient bg-opacity-25" id="{{ employe.id }}">
            {% else %}

                {# Style classique du tableau avec option modification et suppression #}
                <tr class="text-center align-middle" id="{{ employe.id }}">
            {% endif %}
                    <td scope="row">{{ employe.id }}</td>
                    <td>{{ employe.prenom }}</td>
                    <td>{{ employe.nom }}</td>

                    {# Affichage du numéro de téléphone sous la forme "00 00 00 00 00" #}
                    {# Formatage du numéro pour à cause de l'insersion en base de données #}
                    {% if employe.telephone|length == 9 %}
                        <td>{{ "0" ~ employe.telephone|slice(0, 1) ~ " " ~ employe.telephone|slice(1, 2) ~ " " ~ employe.telephone|slice(3, 2) ~ " " ~ employe.telephone|slice(5, 2) ~ " " ~ employe.telephone|slice(7, 2) }}</td>
                    {% else %}
                        <td>{{ employe.telephone|slice(0, 2) ~ " " ~ employe.telephone|slice(2, 2) ~ " " ~ employe.telephone|slice(4, 2) ~ " " ~ employe.telephone|slice(6, 2) ~ " " ~ employe.telephone|slice(8, 2) }}</td>
                    {% endif %}
                    <td>{{ employe.email }}</td>
                    <td>{{ employe.adresse }}</td>
                    <td>{{ employe.poste }}</td>
                    <td>{{ employe.salaire }}</td>

                    {# Affichage de la date de naissance sous la forme "dd/mm/yyyy" #}
                    <td>{{ employe.datedenaissance|date("d/m/Y") }}</td>

                    {# Boutons option, en cas de modification #}
                    {% if id is defined and employe.id == id %}

                    {# Annulation de la modification #}
                    <td>
                        <a href="{{ path("home") }}#{{ id }}" class="btn btn-sm btn-success opacity-75" title="Annuler modifications">
                            <i class="bi bi-x"></i>
                        </a>
                    </td>
                    {% else %}

                    {# Option de modification et suppression de la ligne #}
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="{{ path("update", {"id": employe.id}) }}#formulaire" class="btn btn-warning text-dark" title="Modifier les informations de l'employé {{ employe.id }}">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a href="{{ path("delete", {"id": employe.id}) }}" class="btn btn-sm btn-danger text-dark" title="Supprimer les informations de l'employé {{ employe.id }}">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                    </td>
                    {% endif %}
                </tr>
            {% else %}

                {# Affichage en cas de liste d'employés vide #}
                <tr class="text-center align-middle">
                    <td colspan="10">Aucun employé pour l'instant</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

    {# Barre de séparation #}
    <hr
    class="w-25 mx-auto my-5 text-danger">

    {# Sous-titre auto-modifié #}
    <h2 class="text-center mb-4 mt-5 pt-5 fw-semibold text-decoration-underline fs-4" id="formulaire">{{ id is defined ? "Modifier l'employé " ~ id : "Ajouter un employé" }}</h2>

    {# Boites de message pour la modification d'employés #}
    {% for message in app.flashes("maj_bon") %}
        <div class="container alert alert-success text-center">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes("maj_err") %}
        <div class="container alert alert-danger text-center">{{ message }}</div>
    {% endfor %}

    {# Affichage du formulaire sur 3 lignes #}
    <section class="container my-5 pb-5">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-3">
                {{ form_row(form.prenom) }}
            </div>
            <div class="col-3">
                {{ form_row(form.nom) }}
            </div>
            <div class="col-3">
                {{ form_row(form.telephone) }}
            </div>
            <div class="col-3">
                {{ form_row(form.email) }}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {{ form_row(form.adresse) }}
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                {{ form_row(form.poste) }}
            </div>
            <div class="col-3">
                {{ form_row(form.salaire) }}
            </div>
            <div class="col-3">
                {{ form_row(form.datedenaissance) }}
            </div>
            <div class="col-3">
                {{ form_rest(form) }}
            </div>
        </div>
        {{ form_end(form) }}
    </section>

    <div class="btn-group btn-group-sm position-fixed bottom-0 start-50 translate-middle-x mb-1 ">
    {% if id is defined %}

        {# Changement de style pour la ligne en cours de modification avec option d'annulation #}
        <a href="#formulaire" class="btn btn-primary" title="Retourner sur la modification du formulaire">
            <i class="bi bi-box-arrow-down"></i>
        </a>
        <a href="#{{ id }}" class="btn btn-secondary" title="Voir ligne en cours de modification">
            <i class="bi bi-box-arrow-in-up"></i>
        </a>
    {% endif %}

        {# Bouton de retour en haut de page #}
        <a href="#top" class="btn btn-danger" title="Haut de la page">
            <i class="bi bi-arrow-bar-up"></i>
        </a>
    </div>
</main>
{% endblock %}
